.avatarContainer {
  margin: 0 auto;
  width: fit-content;
  padding-top: 15px;
}

.avatar {
  border-radius: 50%;
}

.addressContainer {
  width: fit-content;
  margin: 1em auto;
}

.title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.about {
  font-size: 18px;
  text-align: center;
}

.editContainer {
  padding-top: 15px;
  width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  opacity: 0.65;
}

.editButton:hover {
  cursor: pointer;
}

.endCycleButton {
  width: fit-content;
  margin: 1em auto 0 auto;
}
