@import "../global_variables.scss";

.address {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

.isAddressMine {
  background-color: $metamask;
  color: white;
  border: none;
}
