.container {
  background-color: #fff1d7;
  padding: 1em;
  margin: 0 auto;
  max-width: 500px;
}

.input {
  background-color: #f2dbb2;
}

.helperText {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.isMining {
  font-size: 1.2em;
  margin: 0.25em;
  display: inline-block;
}
