@import "../bulma_globals.scss";

.proposalContainer {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  background-color: $milk;
  padding: 1em;
}

.scoreContainer {
  width: 10%;
}

.arrowContainer {
  width: fit-content;
  margin: 0 auto;
}

.arrowButton {
  background-color: transparent;
  border: none;
  width: 34px;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

.highlighted {
  color: $metamask;
}

.isMiningText {
  font-weight: normal;
  font-size: 0.5em;
}

.score {
  font-size: 21px;
  text-align: center;
}

.info {
  width: 90%;
  padding-left: 1em;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  font-weight: 600;
}
