.container {
  height: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 20px;
}

.navBar {
  display: flex;
  justify-content: flex-end;
}

.main {
  margin: 2em 0;
}

.loading {
  width: fit-content;
  margin: 0 auto;
}
