.container {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 20px;
}

.navBar {
  display: flex;
  justify-content: flex-end;
}

.main {
  height: 100px;
}

.loading {
  width: fit-content;
  margin: 0 auto;
}
